#app {
  font-family: PingFang SC, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Microsoft Yahei, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
}
